.main_div2 {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    padding: 5px;

}

.divs2 {
    height: 100%;

    flex: 1;
}

/* ******************/
/* 1st seperate div */
/* **************** */
.divs2_1 {
    display: flex;
    flex-direction: column;

}

.education_container {
    display: flex;
    flex-direction: column;

    
    flex: 2;

}

.highSchool_container {
    display: flex;
    flex-direction: row;

    justify-content: space-between;

    padding: 10px;

}

.university_container {
    display: flex;
    flex-direction: row;

    justify-content: space-between;

    padding: 10px;

    
}

.abtMe_conatiner {
    flex: 3;

}

.jobs_projects_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 5;

}






/* ******************/
/* 2st seperate div */
/* **************** */
.divs2_2 {
    display: flex;
    flex-direction: column;

}

.skills_container {
    display: flex;
    flex-direction: column;

    padding: 5px;

    flex: 4;

}

.skills_container ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  list-style: none;
  padding-left: 0;
}

.skills_1 {
    display: flex;
    flex-direction: row;

    flex: 3;

}

.skills_1_1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    flex: 1;

}

.skills_1_2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    flex: 1;

}

.skills_2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    flex: 1;

    padding: 0px 10px 0px 10px;

}




.funFactsAbtMe_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 2;
    padding: 0px 10px 0px 10px;

}

.funFactsAbtMe_container ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  list-style: none;
  padding-left: 0;
}

