.resume_page {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: auto;
    background-image:
        linear-gradient(rgba(235, 241, 247, 0.705), rgb(255, 255, 255)),
        url("../../assets/resume_page_images/resume_back.png");
    background-size: 300px;
    background-position: center;
    background-repeat: repeat;
    width: 100%;
    margin: 0px;
}

.resume_container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: start;
    justify-content: center;
    padding: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1100px;
    aspect-ratio: 1 / 1.6;
    background-color: rgba(254, 245, 237);
    gap: 20px;
    font-family: "Pompiere", sans-serif;
}

.main_div {
    width: 100%;
    height: 100%;
}

.main_div1 {
    flex: 1;
}

.main_div2 {
    flex: 4;
}

.main_div3 {
    flex: 1;
}

@media (max-width: 768px) {
    .resume_container {
        padding: 8px;
    }

    .container {
        aspect-ratio: auto;
        min-height: auto;
        gap: 10px;
        max-width: 100%;
    }

    .main_div {
        height: auto;
    }
}
