
.clickable:hover {
  cursor: pointer;
  scale: 1.1;
}

.container h1 {
  font-size: 1.9rem;
  color: #194c89;
}

.container h2 {
  font-size: 1.2rem;
  color: #679ad9;
}

.container p,
.container li,
.container h1,
.container h2 {
  overflow-wrap: anywhere;
}

.education_container, 
.abtMe_conatiner, 
.jobs_projects_container, 
.skills_container,
.funFactsAbtMe_container,
.interestStrengths_container,
.languages_container {
  border: 2px solid rgba(246, 225, 203);
  border-radius: 10px;
  margin: 10px;
}

@media (max-width: 768px) {
  .container h1 {
    font-size: 1.6rem;
  }

  .container h2 {
    font-size: 1.05rem;
  }
}
