






.div-1 {
    flex: 1;

}

.all-projects-button {
    padding: 5px 20px;
    height: 60px;

    background-image:
        /* linear-gradient(rgba(0, 0, 0, 0.5), rgba(199, 152, 205, 0.5)), */
        url("../../assets/project_page_images/girlLovingACuteCat.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: repeat;

    border-radius: 10px 10px 0px 0;


}

.all-projects-button p {
    font-size: 160%;
    font-weight: bold;
    color: rgb(206, 197, 206);
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);

    box-shadow: 0 0 15px rgba(0, 0, 0, 0.911);
    background-color: rgba(0, 0, 0, 0.449);
}


button:hover {
    cursor: pointer;
}

button {
    width: 100%;
    padding: 10px 20px;
    border: 3px solid rgb(0, 0, 0);

    box-shadow: 6px 6px 0px black;

    border-radius: 10px;
}




.contact-info-button {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 10px 10px;
    overflow: hidden;
    cursor: pointer;

    background-image:
        /* linear-gradient(rgba(0, 0, 0, 0.5), rgba(199, 152, 205, 0.5)), */
        url("../../assets/project_page_images/girlOnStairsWithcreepyEyes.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: rgb(206, 197, 206);
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);

}

/* 🔥 bottom-left glass card */
.contact-overlay {
    position: absolute;
    bottom: 15px;
    left: 15px;

    max-width: 80%;

    backdrop-filter: blur(9px);

    padding: 12px;
    border-radius: 10px;

    box-shadow: 0 0 15px rgba(0, 0, 0, 0.911);
    text-align: left;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.449);
}



.contact-desc {
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
}

/* links layout */
.contact-links {

    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 8px;
}

/* links style */
.contact-links a {
    display: flex;
    align-items: center;
    gap: 8px;

    text-decoration: none;
    font-size: 12px;
    color: rgb(206, 197, 206);
}

.contact-links a:hover {
    opacity: 0.8;
    font-size: 20px;
}

.contact-links svg {
    font-size: 14px;
}

/* ✨ hover effect */
button:hover {
    transform: scale(1.02);
    transition: 0.2s;
}








.div-2 {
    flex: 2;
    border: none;
    padding: 10px;


    display: flex;
    width: 100%;
    flex-direction: column;
}


/* -------------- */
/* buttons inside div 2 */
/* --------------- */
.divs-2 {
    width: 100%;
    display: flex;
}

.div2-1 {
    flex: 2;
    padding-bottom: 10px;
}

.div2-2 {
    flex: 3;
    padding-top: 10px;

    display: flex;
    flex-direction: row;
    gap: 20px;
}

.website-1-button-div2 {

    background-image:
        /* linear-gradient(rgba(0, 0, 0, 0.5), rgba(197, 228, 208, 0.5)), */
        url("../../assets/project_page_images/placeHolderFrogGirl.jpg");

    background-size: contain;
    background-position: center;
    background-repeat: repeat;

}

.website-2-button-div2 {
    background-image:
        /* linear-gradient(rgba(0, 0, 0, 0.5), rgba(219, 182, 192, 0.5)), */
        url("../../assets/project_page_images/theDevilsWifeAndTheLittleDevil.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.website-3-button-div2 {
    background-image:
        /* linear-gradient(rgba(0, 0, 0, 0.5), rgba(183, 150, 183, 0.5)), */
        url("../../assets/project_page_images/monsterRoofTopReading.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.div-3 {
    flex: 1;

    padding: 10px;


    display: flex;
    width: 100%;
    flex-direction: column;

    gap: 20px;
}

.website-4-button {
    width: 100%;
    padding: 10px 20px;

    border-radius: 10px;

    flex: 3;

    background-image:
        /* linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), */
        url("../../assets/project_page_images/creepy_girl_falling_well.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.website-5-button {
    width: 100%;
    padding: 10px 20px;

    border-radius: 10px;

    flex: 2;

    background-image:
        /* linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), */
        url("../../assets/project_page_images/creepyAndCuteMonsterReadingOnDesk.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.website-6-button {
    width: 100%;
    padding: 10px 20px;

    border-radius: 10px;

    flex: 2;


    background-image:
        /* linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), */
        url("../../assets/project_page_images/marvel_character_defauls_placeholder.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}