:root {
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

#root {
  width: 2126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
