:root {
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  background-color: rgb(32, 30, 30);
}



#root {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;

}


body {
  margin: 0;

  background-size: contain;
  background-position: center;
  background-repeat: repeat;
}